@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive');

#profile {
  width: 150px;
  height: 170px;
  filter: opacity(89%);
  border-radius: 50%;
  /* align-content: center;
  align-self: center;
  justify-self: center;
  justify-content: center;
  text-align: center;
 margin-top: 60px;
 margin-bottom: 0px; */


}

.pic {
  text-align: center;
}